<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new socio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<form method="post">

  {% csrf_token %}

  {% for f in form %}

  <div class="form-group">
    <label for="{{ f.label }}">{{ f.label }}</label>
    <input
            type="{{ f.field.widget.input_type }}"
            class="form-control"
            id="{{ f.label }}"
            name="{{ f.name }}"
            aria-describedby="emailHelp"
            placeholder="Enter {{ f.label }}"/>
  </div>
        <div class="col-12 help-text">{{ f.errors }}</div>
  {% endfor %}

    <input class="btn btn-primary" type="submit" value="Submit">
    <a class="btn btn-danger" href="{% url 'list' %}" role="button">Cancel</a>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>